<!doctype html>
<html>
<head>
	<title>Nuevo usuario</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
<form action="usuarios" method="post">
  <fieldset>
    <legend>Create a new user</legend>
    <label>
      Username:
      <input type="string" name="email" />
      <input type="string" name="user" />

      <input type="submit" value="Create user" />
    </label>
  </fieldset>
</form>

	
</div>
</body>
</html>