<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">



	
	 <table id="table">
      
        <% if(users) { %>
         
          <tr>
            <td><%= users.email %>
            	<%= users.name %>  
            	<%= users.user %>
            	<%= users.last_name %>
            		
            	</td>
            	 </tr>
        
        <% } %>
     
    </table>
	<!-- LOGIN FORM -->
	

	<hr>

	<div class="text-center">
		<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
		<p>Modified for SQL Sequelize <a href="http://anneblankert.blogspot.nl/2015/06/node-authentication-migrate-from.html">article</a>.</p>
	</div>


</div>
</body>
</html>
