<div class="col-sm-5 col-md-4" middle middle-horizontal>
    <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
            <form class="form-signin" method="post"  role="form">
                <input type="text" class="form-control" name="email" ng-model="user.email" placeholder="Email" required autofocus />
                <p></p>
                <input type='password' class="form-control" name="password" ng-model='user.password' placeholder="Type Password" required />
                <p></p>
                <input type="submit" class="btn btn-lg btn-default btn-block" value="Login" ng-click="loginUser()"/>
            </form>

        </div>
    </div>
</div>
