<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Dropdown<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div class="container">
    <div class="row"></div>
</div>
<!-- Navegacion de la seccion central-->
<div class="container">
    <section class="main">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#">USUARIO</a></li>
                    <li role="presentation"><a href="#">CLIENTE</a></li>
                    <li role="presentation"><a href="#/Projects">PROYECTO</a></li>
                    <li role="presentation"><a href="#">MAPA</a></li>
                    <li role="presentation"><a href="#">ADMINISTRADOR</a></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>

        <div class="container">
            <div class="container-fluid">
                <div class="row" style="text-align: center">
                    <h1>Proyecto</h1>
                </div>
                <div class="row">
                    <form class="form-horizontal" role="form" method="post" name="userForm">
                        <input type="hidden" name="avatar" ng-model="user.avatar"/>
                        <div class="form-group">
                            <label for="name" class="col-lg-3 control-label">Nombre:</label>
                            <div class="col-lg-8">
                                <input id="name" class="form-control" name="name" ng-model="formData.name" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-lg-3 control-label">Descripción:</label>
                            <div class="col-lg-8">
                        <textarea rows="5" id="description" class="form-control" name="description"
                                  ng-model="formData.description"
                                  type="text">
                            </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motivation" class="col-lg-3 control-label">Motivación: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="motivation" name="motivation"
                                       ng-model="formData.motivation"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="benefits" class="col-lg-3 control-label">Personas Beneficiadas: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="benefits" name="benefits" ng-model="formData.benefits"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="investment" class="col-lg-3 control-label">Inversión: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="investment" name="investment"
                                       ng-model="formData.investment" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-lg-3 control-label">Dirección: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="address" name="address" ng-model="formData.address"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Fecha de Creación</label>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" id="fecha_c" name="creation_date"
                                       ng-model="formData.creation_date" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Fecha de Registro</label>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" name="registry_date"
                                       ng-model="formData.registry_date"
                                       id="date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="construction_time" class="col-lg-3 control-label">Tiempo de Construcción: </label>
                            <div class="col-lg-8">
                                <input id="construction_time" class="form-control" name="construction_time"
                                       ng-model="formData.construction_time" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8" style="text-align: center">
                                <a href="#/Projects" class="btn btn-primary">Cancelar</a>
                                <a href="" class="btn btn-primary" ng-click="createProject()">{{action}}</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


