<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">Dropdown<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div class="container">
    <div class="row"></div>
</div>
<!-- Navegacion de la seccion central-->
<div class="container">
    <section class="main">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#">USUARIO</a></li>
                    <li role="presentation"><a href="#">CLIENTE</a></li>
                    <li role="presentation"><a href="#/Projects">PROYECTO</a></li>
                    <li role="presentation"><a href="#">MAPA</a></li>
                    <li role="presentation"><a href="#">ADMINISTRADOR</a></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>

        <div class="container">
            <div class="container-fluid">
                <div class="row" style="text-align: center">
                    <h1>Proyecto</h1>
                </div>
                <div class="row">
                    <form class="form-horizontal" role="form" method="post" name="userForm">
                        <input type="hidden" name="avatar" ng-model="user.avatar"/>
                        <div class="form-group">
                            <label for="name" class="col-lg-3 control-label">Nombre:</label>
                            <div class="col-lg-8">
                                <input id="name" class="form-control" name="name" ng-model="formData.name" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-lg-3 control-label">Descripción:</label>
                            <div class="col-lg-8">
                        <textarea rows="5" id="description" class="form-control" name="description"
                                  ng-model="formData.description"
                                  type="text">
                            </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motivation" class="col-lg-3 control-label">Motivación: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="motivation" name="motivation"
                                       ng-model="formData.motivation"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="benefits" class="col-lg-3 control-label">Personas Beneficiadas: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="benefits" name="benefits" ng-model="formData.benefits"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="investment" class="col-lg-3 control-label">Inversión: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="investment" name="investment"
                                       ng-model="formData.investment" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-lg-3 control-label">Dirección: </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="address" name="address" ng-model="formData.address"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Fecha de Creación</label>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" id="fecha_c" name="creation_date"
                                       ng-model="formData.creation_date" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Fecha de Registro</label>
                            <div class="col-lg-8">
                                <input type="date" class="form-control" name="registry_date"
                                       ng-model="formData.registry_date"
                                       id="date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="construction_time" class="col-lg-3 control-label">Tiempo de
                                Construcción: </label>
                            <div class="col-lg-8">
                                <input id="construction_time" class="form-control" name="construction_time"
                                       ng-model="formData.construction_time" type="date">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="construction_time" class="col-lg-3 control-label">Imágenes: </label>
                            <div class="col-lg-8">
                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">Subir Imágenes</span>
                                    <input type="file" name="images" nv-file-select="images" uploader="uploader"
                                           multiple/>
                                </div>
                            </div>
                        </div>

                        <div class="custom-preview" ng-if="formData.images">
                            <div id="img_container" ng-repeat="image in formData.images">
                                <img class="img-responsive img-thumbnail image" ng-src="/image/{{image}}">
                                <button class="button" ng-click="deleteImage(image)"><span
                                        class="fa fa-2x fa-trash"></span></button>
                            </div>
                        </div>


                        <div class="container" ng-if="view_images_uploader">

                            <div class="row">

                                <div class="col-md-9" style="margin-bottom: 40px">

                                    <h3>Upload queue</h3>
                                    <p>Queue length: {{ uploader.queue.length }}</p>

                                    <table class="table">

                                        <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->
                                                <div ng-show="uploader.isHTML5"
                                                     ng-thumb="{ file: item._file, height: 100 }"></div>
                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2
                                                }} MB
                                            </td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar"
                                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i
                                                        class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i
                                                        class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs"
                                                        ng-click="item.upload()"
                                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs"
                                                        ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs"
                                                        ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div>
                                        <div>
                                            Queue progress:
                                            <div class="progress" style="">
                                                <div class="progress-bar" role="progressbar"
                                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success btn-s"
                                                ng-click="uploader.uploadAll()"
                                                ng-disabled="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload all
                                        </button>
                                        <button type="button" class="btn btn-warning btn-s"
                                                ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                        </button>
                                        <button type="button" class="btn btn-danger btn-s"
                                                ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                            <span class="glyphicon glyphicon-trash"></span> Remove all
                                        </button>
                                    </div>

                                </div>

                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-lg-8" style="text-align: center">
                                <a href="#/Projects" class="btn btn-primary">Cancelar</a>
                                <a href="" class="btn btn-primary" ng-click="createProject()">{{action}}</a>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </section>
</div>


