<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">

	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
 <body>
   <nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
    <!--<header>
       <div class="container">
    		<h1>Hello, world!</h1>
    	</div>	
    </header>
    
    <div class="container">
    
        <div class="row" >
        	
    		<div class="col-md-12">
    			<ul class="nav nav-tabs">
    				<li role="presentation"><a href="#">INICIO</a></li>
    				<li role="presentation"><a href="#">SERVICIOS & APLICACIONES</a></li>
    				<li role="presentation"><a href="#">SOCIO</a></li>
    				<li role="presentation"><a href="#">PATROCINADORES</a></li>
    				<li role="presentation"><a href="#">CONTACTO</a></li>
    			</ul>
    		</div>
   		</div>
    </div>

    <!-- No se que va en esta seccion pero hay un espacio vacio-->

    <br>
    <br>
    <div class="container">
    <br>
    <br>
      <div class="row"></div>
    </div>
<!-- Navegacion de la seccion central-->
    <div class="container">
    <section class="main">
    	<div class="row">
    		<div class="col-md-3"></div>
    		<div class="col-md-6">
    			<ul class="nav nav-tabs">
    				<li role="presentation"><a href="#">USUARIO</a></li>
    				<li role="presentation"><a href="#">CLIENTE</a></li>
    				<li role="presentation"><a href="#">PROYECTO</a></li>
    				<li role="presentation"><a href="#">MAPA</a></li>
    				<li role="presentation"><a href="#">ADMINISTRADOR</a></li>
    			</ul>
    		</div>
    		<div class="col-md-3"></div>
    	</div>
    	<br>

    	<div class="container">
    	<h3>Adicionar Proyecto</h3>
   
    	<br>
    	<form class="" action="/projects" method="POST">
    	   <div class="form-group col-sm-4 col-md-3">
    		<label for="nombre">Nombre </label>
    		<input class="form-control" id="nombre" type="text" name="name" required="true">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">	
    		<label for="nombre">Tiempo de Construcción</label>
    		<input class="form-control" id="tiempo" type="text" name="construction_time">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">
    		<label for="nombre">Personas Beneficiadas</label>
    		<input class="form-control" id="verificados" type="text">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">	
    		<label for="nombre">Videos</label>
    		<input class="form-control" id="videos" type="text">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">
    		<label for="nombre">Descripción</label>
    		<input class="form-control" id="descripcion" type="text" name="description">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">	
    		<label for="nombre">Inversión</label>
    		<input class="form-control" id="inversion" type="text">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">
    		<label for="nombre">Involucrados</label>
    		<input class="form-control" id="involucrados" type="text">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">	
    		<label for="nombre">Dirección</label>
    		<input class="form-control" name="address" id="option">

    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">
    		<label for="nombre">Fecha de Creación</label>
    		<input type="date" class="form-control" id="fecha_c" name= "creation_date">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">	
    		<label for="nombre">Motivación</label>
    		<input class="form-control" id="motivacion" type="text">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">
    		<label for="nombre">Imagenes</label>
    		<input class="form-control" id="imagenes" type="text">
    	   </div>
    	   <div class="form-group col-sm-4 col-md-3">	
    		<label for="nombre">Fecha de Registro</label>
    		<input type="date" class="form-control" name="registry_date" id="date">
    	   </div>
    	   <div class="form-group col-xs-8 col-sm-8 col-md-9"></div>
    	   <div class="form-group col-xs-4 col-sm-4 col-md-3">
    	    	<button class="btn btn-primary" >Cancelar</button>
    	    	<button class="btn btn-primary" >Aceptar</button>
    	   </div>
    	   </div>
    	   <br>
    	   <div class="container">
    	   <h3>Listado de Proyectos</h3>

    	   <div class="table-responsive">
    	   <table class="table table-condensed">
			 
    	   		<tr class="danger">
    	   			<th>No</th>
    	   			<th>Nombre</th>
    	   			<th>Fecha de creación</th>
    	   			<th>Personas Beneficiadas</th>
    	   			<th>Acciones</th>
    	   		</tr>
    	   		<% project.forEach(function(project){ %>
    	   		<tr>
    	   			<td><%= project.id %>  </td>
    	   			<td><%= project.name%> </td>
    	   			<td><%=project.creation_date%> </td>
    	   			<td><%= project.beneficiaries %> </td>
    	   			<td><button type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i></button>  <button type="button" class= 'delete'> <i class="fa fa-trash"></i></button>  <button type="button" > <i class="fa fa-file-o" ></i></button></td>
    	   		</tr>
    	   		 <% } )%>
    	   </table>
	    	   <ul class="pagination">
				  <li><a href="#">1</a></li>
				  <li class="active"><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
 				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				</ul>
    	   </div>
    	   </div>
    	</form>
    	
    </section>
    </div>

    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modificar proyecto</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 

<script src="../js/screen.js"></script>
<script src="../js/script.js"></script>
<script>
$(".delete").click(function() {
    var id = (this).attr("id");
    if (confirm("Are you sure?")) {
        // do delete; use var id to delete data
    }
});
  </script>  
  </body>
</html>
